$primary-color: #0020DD;
$secondary-color: #E6E9FC;
$blue-gray-color: #0F172A;
$neutral-color: #EEEEEE;
$purple: #B0BAF4;
$text-title: #232323;
$text-body: #535353;
$font-family: 'Plus Jakarta Sans', sans-serif;
